<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin Authorization</title>
    </head>
    <body>
       
          
                <% if (user) { %>
                    <a href="/auth/logout">Log out</a>
                    <% } else { %>
                        Admin 
                        <a href="/auth/login">Login</a>
                    <% } %>
                <br>
                <a href="/profile">Profile</a>
           
        
        
    </body>
</html>