<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Stocks</title>
</head>
<body>
    <form action="/upload" method="post">
        <label for="clubName">Club Name</label>
        <input type="text" name="clubName" id="clubName">
        <label for="productImage">Product Image Link</label>
        <input type="text" name="productImage" id="productImage">
        <label for="receiptImage">Receipt Image</label>
        <input type="text" name="receiptImage" id="receiptImage">
        <button type="submit">Submit</button>
    </form>
</body>
</html>