<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose One</title>
</head>
<body>
    <h3>Do you want to update Stock?</h3>
    <a href="/updateStock">Click Here</a>
    <h3>Do you want to issue a Equipment?</h3>
    <a href="/issueEquipment">Click Here</a>
</body>
</html>